@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss';
@plugin "@tailwindcss/typography";
@plugin './hero.ts';

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --primary: #3A5A40;
  --primary-light: #588157;
  --primary-dark: #344E41;
  --secondary: #E5E4E2;
  --foreground: #DAD7CD;
  --open-sans-font: "Open Sans", sans-serif;
  --inter-font: "Inter", sans-serif;
}

@theme {
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-foreground: var(--foreground);
  --font-open-sans: var(--open-sans-font);
  --font-inter: var(--inter-font);
}

body{
  background-color: var(--foreground);
  font-family: var(--inter-font);
}

@utility custom-scrollbar {
  &::-webkit-scrollbar {
    @apply size-0;
  }

  &::-webkit-scrollbar-track {
    @apply rounded-full;
  }

  &::-webkit-scrollbar-thumb {
    @apply bg-none rounded-full dark:bg-gray-700;
  }
}