name: User Panel Docker Build and Deploy

on:
  push:
    branches: [ main ]
    paths: [ "User/**" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker image
        working-directory: User
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/tabib_online_user:latest .
          docker push ${{ secrets.DOCKER_USERNAME }}/tabib_online_user:latest